/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {

	position: fixed;
	width: 100%;

	.shell {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 9px;
		display: flex;
	}

	.menu {
		display: flex;

		li {
			padding: 0 20px;
			font-weight: bold;
			color: $gray;
		}
	}
}
